In [4]:
print("||Shree Ganeshay Namah||")

||Shree Ganeshay Namah||

In [5]:
 l1= 12.4
type(l1)b

float

In [53]:
l1=[1,2,3,4,5]
l2=[21,22,23,24,25]
l3=[l1,l2]
print(l3)
l3.append('nihal')
print(l3)

[[1, 2, 3, 4, 5], [21, 22, 23, 24, 25]]
[[1, 2, 3, 4, 5], [21, 22, 23, 24, 25], 'nihal']

In [61]:
import numpy as np
import pandas as pd
np.__version__
pd.__version__

'2.1.4'

In [62]:
import numpy as np
s=12
s

12

In [71]:
v=np.array([1,8,-4])
v.shape
v.reshape(1,3)
v.shape
v.reshape(3,1)

s=np.array([[1,2,3],[3,4,5],[5,6,7]])
p=np.array([[2,3,4],[4,5,6],[6,7,8]])
s.T

array([[1, 3, 5],
       [2, 4, 6],
       [3, 5, 7]])

In [77]:
n1=np.array([[2,3,5],[6,5,8]])
n2=np.array([[2,3,5],[6,5,8],[2,3,4]])
np.dot(n1,n2)
np.mean(n1,axis=1)

array([3.33333333, 6.33333333])

In [78]:
import pandas as pd
employee_names = ['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson']
employee_names_Series = pd.Series(employee_names)
print(employee_names_Series)

0             Amy White
1          Jack Stewart
2    Richard Lauderdale
3          Sara Johnson
dtype: object

In [80]:
import pandas as pd
import numpy as np
work_experience_years = pd.Series([5,8,3,10])
# work_experience_years = np.array(work_experience_years)
print(work_experience_years)

0     5
1     8
2     3
3    10
dtype: int64

In [81]:
import pandas as pd

work_experience_years = pd.Series([5,8,3,10])
print(type(work_experience_years.to_numpy()))

<class 'numpy.ndarray'>

In [86]:
import pandas as pd

employees_work_exp = pd.Series({'Martin':8, 'George':5})
print(type(employees_work_exp.index[0]))

<class 'str'>

In [89]:
import pandas as pd
data = {'Name':['Amy White','Jack Stewart','Richard Lauderdale','Sara Johnson'],'Age':[50,53,35,43],'Working Experience (Yrs.)':[5,8,3,10]}
df = pd.DataFrame(data,index=[1,2,3,4])
print(df)

                 Name  Age  Working Experience (Yrs.)
1           Amy White   50                          5
2        Jack Stewart   53                          8
3  Richard Lauderdale   35                          3
4        Sara Johnson   43                         10

In [91]:
import pandas as pd
names= pd.Series(['Amy White','Jack Stewart','Richard Lauderdale','Sara Johnson'])
age= pd.Series([50,53,35,43])
working_experience_yrs=pd.Series([5,8,3,10])
data={'Name':names,'Age':age,'Working Experience (Yrs.)':working_experience_yrs}
df=pd.DataFrame(data)
print(df)

                 Name  Age  Working Experience (Yrs.)
0           Amy White   50                          5
1        Jack Stewart   53                          8
2  Richard Lauderdale   35                          3
3        Sara Johnson   43                         10

In [94]:
import pandas as pd
data=[['Amy White',50,5],['Jack Stewart',53,8],['Richard Lauderdale',35,3],['Sara Johnson',43,10]]
df=pd.DataFrame(data)
df.columns=['Name','Age','Working Experience (Yrs.)']
print(df)

                 Name  Age  Working Experience (Yrs.)
0           Amy White   50                          5
1        Jack Stewart   53                          8
2  Richard Lauderdale   35                          3
3        Sara Johnson   43                         10