In [2]:
filename="nihal/sample.txt"

In [29]:
file = open(filename, mode='r',encoding='UTF-8')
file.read()

'This is a sample file. You will rock it!! hello nihal limbani'

In [23]:
file.read()

''

In [34]:
import pandas as pd
# file =open('nihal/Lending-company.csv', mode='r')
my_csv= pd.read_csv('nihal/Lending-company.csv')
# text = file.read()
print(my_csv)

      LoanID     StringID    Product CustomerGender     Location    Region  \
0          1     LoanID_1  Product B         Female   Location 3  Region 2
1          2     LoanID_2  Product D         Female   Location 6  Region 6
2          3     LoanID_3  Product B           Male   Location 8  Region 3
3          4     LoanID_4  Product A           Male  Location 26  Region 2
4          5     LoanID_5  Product B         Female  Location 34  Region 3
...      ...          ...        ...            ...          ...       ...
1038    1039  LoanID_1039  Product B           Male  Location 73  Region 6
1039    1040  LoanID_1040  Product A           Male  Location 82  Region 1
1040    1041  LoanID_1041  Product A   NotSpecified  Location 11  Region 4
1041    1042  LoanID_1042  Product B         Female  Location 26  Region 6
1042    1043  LoanID_1043  Product A   NotSpecified  Location 94  Region 6

      TotalPrice   StartDate  Deposit  DailyRate  TotalDaysYr  AmtPaid36  \
0        17600.0  04/07/2018     2200         45          365       3221
1            NaN  02/01/2019     2200         45          365       3161
2        16600.0  08/12/2016     1000         45          365       2260
3        17600.0         NaN     2200         45          365       3141
4        21250.0  28/10/2017     2200         55          365       3570
...          ...         ...      ...        ...          ...        ...
1038     17300.0  29/12/2018     2200         45          365       3251
1039         NaN  28/03/2018     2200         45          365       4090
1040     17300.0  26/04/2018     2200         45          365       4051
1041     16300.0  25/10/2016     1000         45          365       1930
1042     17300.0  15/05/2019     2200         45          365       4451

      AmtPaid60  AmtPaid360        LoanStatus
0          4166       14621            Active
1          4096       16041            Active
2          3205       16340               NaN
3          4166       16321            Active
4          4745       14720            Active
...         ...         ...               ...
1038       4743       16617  Finished Payment
1039       5582       16617  Finished Payment
1040       5143       16617  Finished Payment
1041       3462       15617  Finished Payment
1042       4743       16617  Finished Payment

[1043 rows x 15 columns]

In [40]:
import numpy as np
n1=np.loadtxt('Lending-Company-Numeric-Data.csv',delimiter=',')
n2=np.genfromtxt('Lending-Company-Numeric-Data.csv',delimiter=',')
np.array_equal(n1,n2)

True

In [51]:
n3,n5,n7=np.genfromtxt('Lending-Company-Numeric-Data-NAN.csv', delimiter=';',
                                                         skip_header=2, 
                                                         skip_footer=2,
                                                         usecols=(2,3,4), unpack=True)
print(n3)
print(n5)
print(n7)

[365. 365. 365. ... 365. 365. 365.]
[2160. 3041. 3470. ... 3401.   nan 4201.]
[3280. 4241. 4820. ...   nan 5440. 5001.]

In [53]:
list_1 = [10,20,30,40]
print('Currently I have %d lpa but i wants "horay!!"'%list_1[0])

Currently I have 10 lpa but i wants "horay!!"

In [57]:
s2 = "personal ID, first name, last name, date of birth, place of birth, city of birth"
print(s2.split(','))
print(s2)
print(len(s2.split(',')))

['personal ID', ' first name', ' last name', ' date of birth', ' place of birth', ' city of birth']
personal ID, first name, last name, date of birth, place of birth, city of birth
6

In [59]:
print("{} expects their next year's sales of Q{} to {}.".format('Company A',3,'increase'))

Company A expects their next year's sales of Q3 to increase.

In [60]:
companies = ['Company A','Company B']
quarter = [1,2,3,4]
sales_performance_prediction = ['increase', 'decrease', 'remain the same']
print("{} expects their next year's sales of Q{} to {}.".format(companies[0],quarter[2],sales_performance_prediction[0]))

Company A expects their next year's sales of Q3 to increase.

In [66]:
n1=lambda x:10*x
print(n1(7))

70

In [67]:
product_xy = lambda x,y : x*y
print(product_xy(4,20))

80

In [72]:
import requests
import json
base_url = 'https://v6.exchangerate-api.com/v6/bfddd9bc480caf5c810381e7/latest/USD' + '?base=b'
data = requests.get(base_url)
# print(json.dumps(data.json(), indent=4))

{
    "result": "success",
    "documentation": "https://www.exchangerate-api.com/docs",
    "terms_of_use": "https://www.exchangerate-api.com/terms",
    "time_last_update_unix": 1714435201,
    "time_last_update_utc": "Tue, 30 Apr 2024 00:00:01 +0000",
    "time_next_update_unix": 1714521601,
    "time_next_update_utc": "Wed, 01 May 2024 00:00:01 +0000",
    "base_code": "USD",
    "conversion_rates": {
        "USD": 1,
        "AED": 3.6725,
        "AFN": 72.165,
        "ALL": 94.1819,
        "AMD": 388.2545,
        "ANG": 1.79,
        "AOA": 844.949,
        "ARS": 864.75,
        "AUD": 1.5238,
        "AWG": 1.79,
        "AZN": 1.7001,
        "BAM": 1.8252,
        "BBD": 2.0,
        "BDT": 109.7639,
        "BGN": 1.8251,
        "BHD": 0.376,
        "BIF": 2863.4692,
        "BMD": 1.0,
        "BND": 1.3603,
        "BOB": 6.9219,
        "BRL": 5.1153,
        "BSD": 1.0,
        "BTN": 83.4702,
        "BWP": 13.893,
        "BYN": 3.255,
        "BZD": 2.0,
        "CAD": 1.3657,
        "CDF": 2745.9786,
        "CHF": 0.911,
        "CLP": 949.6965,
        "CNY": 7.2416,
        "COP": 3894.8367,
        "CRC": 503.2345,
        "CUP": 24.0,
        "CVE": 102.8996,
        "CZK": 23.4664,
        "DJF": 177.721,
        "DKK": 6.9607,
        "DOP": 58.6772,
        "DZD": 134.33,
        "EGP": 47.8433,
        "ERN": 15.0,
        "ETB": 57.1409,
        "EUR": 0.9332,
        "FJD": 2.2596,
        "FKP": 0.7967,
        "FOK": 6.9604,
        "GBP": 0.7967,
        "GEL": 2.6857,
        "GGP": 0.7967,
        "GHS": 13.7076,
        "GIP": 0.7967,
        "GMD": 65.6034,
        "GNF": 8576.102,
        "GTQ": 7.7795,
        "GYD": 209.1852,
        "HKD": 7.8263,
        "HNL": 24.7057,
        "HRK": 7.0312,
        "HTG": 132.5415,
        "HUF": 365.2017,
        "IDR": 16250.1461,
        "ILS": 3.7525,
        "IMP": 0.7967,
        "INR": 83.4716,
        "IQD": 1309.4066,
        "IRR": 42077.4014,
        "ISK": 140.2561,
        "JEP": 0.7967,
        "JMD": 156.1692,
        "JOD": 0.709,
        "JPY": 156.2473,
        "KES": 134.3009,
        "KGS": 89.1375,
        "KHR": 4049.2082,
        "KID": 1.5233,
        "KMF": 459.1058,
        "KRW": 1375.5381,
        "KWD": 0.3078,
        "KYD": 0.8333,
        "KZT": 442.0794,
        "LAK": 21699.689,
        "LBP": 89500.0,
        "LKR": 296.2411,
        "LRD": 193.4292,
        "LSL": 18.653,
        "LYD": 4.8664,
        "MAD": 10.1109,
        "MDL": 17.7731,
        "MGA": 4423.6431,
        "MKD": 57.4663,
        "MMK": 2104.0352,
        "MNT": 3359.2342,
        "MOP": 8.061,
        "MRU": 39.6261,
        "MUR": 46.4158,
        "MVR": 15.4152,
        "MWK": 1745.285,
        "MXN": 17.0451,
        "MYR": 4.7681,
        "MZN": 63.8684,
        "NAD": 18.653,
        "NGN": 1244.211,
        "NIO": 36.8188,
        "NOK": 10.9945,
        "NPR": 133.5523,
        "NZD": 1.6737,
        "OMR": 0.3845,
        "PAB": 1.0,
        "PEN": 3.7372,
        "PGK": 3.8017,
        "PHP": 57.6882,
        "PKR": 278.9971,
        "PLN": 4.031,
        "PYG": 7483.3885,
        "QAR": 3.64,
        "RON": 4.6433,
        "RSD": 109.2551,
        "RUB": 93.1711,
        "RWF": 1303.6015,
        "SAR": 3.75,
        "SBD": 8.4981,
        "SCR": 13.6894,
        "SDG": 454.2916,
        "SEK": 10.9295,
        "SGD": 1.3602,
        "SHP": 0.7967,
        "SLE": 22.6572,
        "SLL": 22657.164,
        "SOS": 571.9158,
        "SRD": 34.0373,
        "SSP": 1591.8806,
        "STN": 22.8635,
        "SYP": 12905.8833,
        "SZL": 18.653,
        "THB": 37.0071,
        "TJS": 10.9325,
        "TMT": 3.5001,
        "TND": 3.1371,
        "TOP": 2.3446,
        "TRY": 32.4278,
        "TTD": 6.7712,
        "TVD": 1.5233,
        "TWD": 32.5407,
        "TZS": 2585.3357,
        "UAH": 39.6484,
        "UGX": 3808.9563,
        "UYU": 38.6122,
        "UZS": 12721.1557,
        "VES": 36.4262,
        "VND": 25308.1678,
        "VUV": 120.6705,
        "WST": 2.762,
        "XAF": 612.141,
        "XCD": 2.7,
        "XDR": 0.7594,
        "XOF": 612.141,
        "XPF": 111.361,
        "YER": 250.1184,
        "ZAR": 18.6476,
        "ZMW": 26.5945,
        "ZWL": 13.4407
    }
}

In [76]:
import pandas as pd

emp_birth_date = pd.Series({'No_0001':'1963-08-02', 'No_0002':'1964-06-13', 'No_0003':'1989-12-04', 'No_0004':'1996-04-08'},{'No_0001':'1963-08-02', 'No_0002':'1964-06-13', 'No_0003':'1989-12-04', 'No_0004':'1996-04-08'})
print(emp_birth_date.values)
print(emp_birth_date.shape)

['1963-08-02' '1964-06-13' '1989-12-04' '1996-04-08']
(4,)

In [83]:
import numpy as np
n1= np.array([[1,2,3],[4,5,6]])
n1[0]*n1[1]
len(n1)

2

In [122]:
l1={'k1':'v1','k2':'v2'}
len(l1)

2

In [129]:
matrix_A = np.array([[1,2,3],[4,5,6],[5,6,7]])
matrix_B = np.array([[4],[1],[6]])
matrix_A.dot(matrix_B)

array([[24],
       [57],
       [68]])

In [126]:
dot()

ValueError: shapes (2,3) and (2,3) not aligned: 3 (dim 1) != 2 (dim 0)